*{
	padding:0;
	margin:0;
	box-sizing:border-box;
  	list-style: none;
  	text-decoration: none;
font-family: 'Asman', sans-serif;
                                                
}

.wrapper{
	height:100%;
	width:100%;
	position:relative;
}
.wrapper .multi_color_border{
  width: 100%;
  height: 3px;
  background: white;
}
.wrapper .top_nav{
  width: 100%;
  height: 65px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .top_nav .left{
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo p{
  font-size: 40px;
  font-weight: bold;
  color: white;
font-family: 'Asman', sans-serif;                                                
  margin-top: 10px;
  margin-right: 25px;
}

.wrapper .top_nav .left .logo p span{
  color: white;
font-family: 'Asman', sans-serif;
                                                
}
.wrapper .top_nav .left .search_bar{
  margin-left: 40px;
  margin-bottom: 10px;
  
}
.wrapper .top_nav .left .search_bar input[type="text"]{
  width: 500px;
  padding: 5px 20px; 
  outline: none;
  color: white;
  background: #9B9B9B;
  border: 1px;
  outline: none;
}


.wrapper .bottom_nav ul{
  margin-top: 20px;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}
.wrapper .bottom_nav ul li a{
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 50px;
}
.wrapper .bottom_nav ul li a:hover{
  color: #9B9B9B;
  transition: .5s;
}

.container1{
	margin-top: 200px;
  width: 100%;
  height: 65px;
  background: ;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 80px;
}
.container1 .right_con{
	font-size: 30px;
}

.container1 .right_con li:hover{
	color: #292929;
	transition: .5s;
}
container1 br: hover{
color: #292929;
  transition: .5s;
}
body 
{
background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url('https://media.npr.org/assets/img/2016/09/13/gettyimages-178347084-0de02d6476f31384219a3b0c9502e27edb1dad3b-s800-c85.webp');
height:100vh;
position:center;
background-size:cover;
background-repeat:no-repeat;
}
.text-center {
	font-size: 18px;
  text-align: center;
}
footer {
font-family: 'Asman', sans-serif;
                                                
    background: #504E4E;
    opacity: 0.7;
    height: 100px;
    color: #ffffff;
    padding: 5px 0px;
    position: relative;
}
.image {
  margin-top: 0px;
  width: 500px;
  height: 400px;
  background-image: url(tacloban map part 2.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;

}

.image:hover{
  background-size: 100%;
 
}

