<template>
    <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    
                    <form class="navbar-form " action="#">
                        <div class="form">
                            
                                <div id = "navside" class ="col-1" >
                                    <a class="btn " data-bs-toggle="offcanvas" data-bs-target="#mobsidebar" role="button" aria-controls="offcanvasExample" id = "bitis">
                                        <i class="bi bi-list bi-md p-2"></i>
                                    </a>
                                </div>
                                <div class =  "col-11">
                                    <input type="text" class="form-control" placeholder="Search" name="search">
                               
                            </div>
                        </div>
                    </form>
                </div>
    </nav>

    <h1 >All Songs</h1>
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
            <th> </th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg>
                </td>
            <td>Venom</td>
            <td>Eminem</td>
            <td>---</td>
            <td>4:56</td>
            </tr>
            <tr>
            <td><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg>
                </td>
            <td>King</td>
            <td>KANARIA</td>
            <td>GUMI</td>
            <td>2:15</td>
            </tr>
            <tr>
            <td><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg>
                </td>
            <td>Before you Go</td>
            <td>Lewis Capaldi</td>
            <td>Divinely Uninspired to a Hellish Extent</td>
            <td>4:07</td>
            </tr>
            <tr>
            <td><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg>
                </td>
            <td>Silhouette</td>
            <td>Kana-BOON</td>
            <td>---</td>
            <td>4:25</td>
            </tr>
        </tbody>
        </table>
  </div>
    <div class = "container text-center" id="les1">
            <div class="progress">
                <div class="progress-bar" id="prog" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class = "row text-center pt-4">
                <div class = "col-2" id="pic1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#340753" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
                        <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                
                </div>
                <div class = "col-2" id="pic2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#340753" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                    </svg>
                
                </div>
                <div class = "col-2" id="pic3" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#340753" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
                        <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                
                </div>
            
            </div>
            
        </div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobsidebar" aria-labelledby="offcanvasExampleLabel">
    <section id = "sid">
            <div class="sidebar-brand container pt-4 pb-5 ">
                    <div class = "container-fluid text-center">
                        <img src="../assets/Logo1.png" alt="logo"  style="width:180px;">
                    </div>
                </div>
                                
                
                    <div class = "container-fluid col-md-12 text-center">
                        <ul class="col-md-12" id = "colu">
                            <li><a href="#" class = "col1" id="upload-music" 
                            data-bs-toggle="modal" data-bs-target="#UploadModal">Upload Music</a></li>
                            
                            <li><a href="#" >All Music</a></li>

                        </ul> 
                        <ul class="col-md-12" id = "colu">
                            <li><a href="#" class = "col2" id="upload-music" 
                                data-bs-toggle="modal" data-bs-target="#CreateModal">Create Playlist</a></li>
                        </ul>
                        <ul class="col-md-12" id = "colu">
                            <li><a href="#" class = "col3">Playlist #1</a></li>
                            <li><a href="#">Playlist #2</a></li>
                            <li><a href="#">Playlist #3</a></li>
                        </ul>
                    </div>
                    
                
    </section>
        
</div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.arrow-left {
  width: 0; 
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:15px solid white;
}
.navbar {
  padding-left: 30px;
  padding-top: 40px;
  margin-bottom: 110px;

}
.navbar .btn{
  margin-top: 10px;
}
.navbar .form{
  margin-left: 20px;
}
.navbar input[type=text] {
  background: rgb(202, 202, 202);
  padding: 8px;
  padding-left: 20px;
  margin-top: 8px;
  margin-right: 100px;
  font-size: 17px;
  color: #423e3e;
  border-radius: 10px;
  border-color: #474545;
  border-width: 2px;
}
.navbar input[type=text]::placeholder{
  color: #000000;
}
h1{
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  text-align:left;
}
.table{
  background-color: black;
  color: white;
}
.table tr th{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-bottom-color: #ffffff;
  vertical-align:middle;
}
td{
    vertical-align:middle;
}
.table tr:hover td{
  color: #736f75;
}
.row{
    justify-content: center;
}
#pic1{
    width:100px;
    cursor:pointer;
}
#pic2{
    width:100px;
    cursor:pointer;
}
#pic3{
    width:100px;
    cursor:pointer;
}
#les1{
    padding-top:40px;
}
#prog{
    height:13px;
    background-color:#494949;
    cursor:pointer;
}
.form-control{
    width:100%;
}
.form{
    display:flex;
    width:100%;
}
.form > *:nth-child(1){
  flex:1 1 30;
}
.form > *:nth-child(2){
  flex:1 1 70;
}
#colu{
    margin-bottom:50px;
}
#sidebar .sidebar-brand {
  padding-bottom:20px;
  margin-bottom: 30px;
  margin-left: 0 ;
}

#sid{
        min-width: 300px;
        max-width: 300px;
        height: inherit;
        background-color: #000000;
        color: rgb(255, 255, 255);
        transition: all 0.3s;
        height: 100%;

    }
    #sid ul li a{
        color:black;
    }


</style>