@font-face {
    font-family: 'Asman', sans-serif;
    
}

@font-face {
    font-family: 'Asman', sans-serif;
}
.col-sm-3{
    background-color: #A49999; 
}
.col-sm-3 gg{
    align-self: center;
}
.col-sm-9{
    background-color: #A49999; 
    margin-right: 0pt;
    margin-bottom: 0pt;
}
.services-section img {
    padding-top: 10pt;

    width: 200px;
    height: 150px;
    margin: auto;    
    display: block;
}
.text-left{
   font-family: 'Asman', sans-serif;
    line-height: 33px;
    text-decoration-line: underline;
}
.btn{
   font-family: 'Asman', sans-serif;
    
   
   padding-right: 20pt;
}
.form-control{
   font-family: 'Asman', sans-serif;
    
}
h1{
    font-family: 'Asman', sans-serif;
    padding-top:50pt;
    padding-bottom: 40pt;
}
table{
    margin-left: -10pt;
     font-family: 'Asman', sans-serif;
    text-align: center;
    
}
.tablehead{
    font-size:28pt;
    background-color: #787575;
}
.tablebody{
    font-size: 15pt; 
    background-color: #FFFFFF;
}
table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}
svg{
    display: inline;
    width: 40px;
    height: 40px;
}
.col-sm-4{
    background-color: #928575;   
}

.col-sm-8{
    background-color: #928575;   
}
.progress{
   align-content: flex-start
    
}
.col-sm-7{
    background-color: #928575;   
   
}
.col-sm-5{
    background-color: #928575;   
   
}
.button {
    display: inline-block;
    border: 1px solid;
    border-color: #012766;
    background: #000000;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Asman', sans-serif;
}
[id^=modal] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
[id^=modal]:target {
    display: block;
}
input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}
.popup {
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.popup__overlay {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000b3;
    font-family: 'Asman', sans-serif;
}
.popup__wrapper {
    position: fixed;
    z-index: 9;
    width: 80%;
    max-width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 58px 32px 32px 32px;
    background: #000000;
    font-family: 'Asman', sans-serif;
    color: #FFFFFF;
}
.popup__close {
    position: absolute;
    top: 16px;
    right: 26px;
}
.dropdown {
    margin-top: 20px;
    fofont-family: 'Asman', sans-serif;
    
}
body 
{
background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url('https://color-hex.org/color/a49999');
height:100vh;
position:center;
background-size:cover;
background-repeat:no-repeat;
}